  #sidebar {
            width: 260px;
            transition: all 0.3s;
        }
        
        #content {
            margin-left: 260px;
            width: calc(100% - 260px);
            transition: all 0.3s;
        }
        
        @media (max-width: 768px) {
            #sidebar {
                margin-left: -260px;
            }
            
            #sidebar.active {
                margin-left: 0;
            }
            
            #content {
                margin-left: 0;
                width: 100%;
            }
            
            #content.active {
                margin-left: 260px;
            }
        }
        
        .sidebar-toggle {
            cursor: pointer;
        }